body{ background: linear-gradient(to bottom right, white, #bcbdc4); height: 4000px; font-family: 'Nunito', sans-serif;}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 4px 16px;
    text-decoration: none;
	font-size: 0.75em;
}

li a:hover:not(.active) {
    background-color: #2ba6cb;
	color: white;    	
}

.active {
    background-color: #006699;
}

li a:not(.active){
color: black;
}

.slider-content{max-width:960px;margin:auto}

.slider-display-container{position:relative}

.slider-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}

.slider-black,.slider-hover-black:hover{color:#fff!important;background-color:#000!important}

.slider-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}

.slider-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}

.slider-display-bottomright{position:absolute;right:0;bottom:0}

.slider-large{font-size:0.75em!important}

.slider-container,.slider-panel{padding:0.01em 16px}.slider-panel{margin-top:16px;margin-bottom:1px}

.slider-padding-16{padding-top:5px!important;padding-bottom:16px;height: 5px; bottom: 5px;!important}

.hide {
 display: none;
}

.box_1{
position: relative;
/*top: 50%;
left: 50%;
transform: translate(-50%, -50%);*/
width: 960px;
height: 330px;
padding: 20px;
box-sizing: border-box;
background: #fff;
border-radius: 4px;
display: flex;
}

.box_2{
position: relative;
/*top: 50%;
left: 50%;
transform: translate(-50%, -50%);*/
width: 960px;
padding: 20px;
box-sizing: border-box;
background: #fff;
border-radius: 4px;
box-shadow: 0 5px 15px rgba(0,0,0,0.5);
display: flex;
}




